<div class="tree">
<button id="all"> Cerrar todo </button>

<% i=-1 %> 
<% @categories.each do |category| %>
	<% while i>category.depth %>
		<% i=i-1 %>
		</ul>
	<% end %>
	<% if i<category.depth %>
		<ul>
		<% i=i+1 %>
	<% end %>
	<li>
		<%= category.name_for_tree %> 
		<%= link_to 'Ver', category %>
		<%= link_to 'Editar', edit_category_path(category) %>
	</li>
<% end %>


<script type="text/javascript">
	$( document ).ready( function( ) {
    $( '.tree li' ).each( function() {
        if( $( this ).children( 'ul' ).length > 0 ) {
            $( this ).addClass( 'parent' );     
        }
    });

    $( '.tree li.parent > a' ).click( function( ) {
        $( this ).parent().toggleClass( 'active' );
        $( this ).parent().children( 'ul' ).slideToggle( 'fast' );
    });

    $( '#all' ).click( function() {

        $( '.tree li' ).each( function() {
            $( this ).toggleClass( 'active' );
            $( this ).children( 'ul' ).slideToggle( 'fast' );
        });
    });

});
</script>